<!DOCTYPE html>
<html>
  <head>
    <title>Ephemerate Your Life | Tilt Ephemerator</title>
  </head>
  <body>
    <h1>Ephemerate Your Life</h1>

    <h2>Spin up the ephemeral environment you need.</div>

    <div>
      Allowed repos

        <ul>
        {{$repoBase := .allowlist.RepoBase}}
        {{range .allowlist.RepoNames}}
          <li>{{$repoBase}}/{{.}}</li>
        {{end}}
      </ul>
    </div>
  </body>
</html>
