<!DOCTYPE html>
<html>
  <head>
    <title>Ephemerate Your Life | Tilt Ephemerator</title>
  </head>
  <body>
    <h1>Ephemerate Your Life</h1>

    <h2>Spin up the ephemeral environment you need.</div>

    <div>
      Allowed repos

        <ul>
        {{$repoBase := .allowlist.RepoBase}}
        {{range .allowlist.RepoNames}}
          <li>{{$repoBase}}/{{.}}</li>
        {{end}}
      </ul>
    </div>

    <div>
      {{if .envError}}
      Error fetching env: {{.envError}}
      {{else if not .env}}
      No env yet.
      {{else}}
      Env:
      <ul>
        <li>ConfigMap: OK</li>
        <li>Pod: {{if .env.Pod}}{{.env.Pod.Status.Phase}}{{else}}Pending{{end}}</li>
        <li>Service: ports: {{if .env.Service}}{{printf "%+v" .env.Service.Spec.Ports}}{{else}}Pending{{end}}</li>
      </ul>
      {{end}}
  </body>
</html>
