<!DOCTYPE html>
<html>
  <head>
    <title>Ephemerate Your Life | Tilt Ephemerator</title>
    <link rel="stylesheet" href="https://use.typekit.net/yii5fqs.css">
    <link rel="stylesheet" href="/static/ephemerator.css">
    <script src="/static/load.js"></script>
  </head>
  <body>
    <h1>Ephemerate Your Life</h1>

    <h2>Spin up the ephemeral environment you need.</h2>

    <aside>
      Allowed repos:

      <ul>
        {{$repoBase := .allowlist.RepoBase}}
        {{range .allowlist.RepoNames}}
          {{$repo := printf "%s/%s" $repoBase .}}
          <li><a href="{{$repo}}">{{$repo}}</a></li>
        {{end}}
      </ul>
    </aside>

    {{if .envError}}
      <div>Error fetching env: {{.envError}}</div>
    {{else if not .env}}
      <div>
        <h3>Create a new environment:</h3>
        <form method="POST" action="/create">
        <div>
          <label for="repo">Repo:</label>
          <input type="text" id="repo" name="repo" size="40" value="https://github.com/tilt-dev/tilt-example-html">
        </div>
        <div>
          <label for="path">Path:</label>
          <input type="text" id="path" name="path" size="40" value="0-base">
        </div>
        <div>
          <label for="branch">Branch:</label>
          <input type="text" id="branch" name="branch" size="40" value="master">
        </div>
        <div>
          <input type="submit" value="Create env"/>
        </div>
      </form>
      </div>
    {{else}}
      <div>
        <h3>Your current environment:</h3>

        <div>Endpoints:</div>

        <ul>
          
        {{$gatewayHost := .gatewayHost}}
        {{if .env.Service}}
          {{if len .env.Service.Spec.Ports}}
            {{$name := .env.Service.ObjectMeta.Name}}
            {{range .env.Service.Spec.Ports}}
              <li><a href='{{printf "http://%d---%s.%s/" .Port $name $gatewayHost}}'>{{.Name}}</a></li>
            {{end}}  
          {{else}}
            <li>None</li>
          {{end}}  
        {{else}}
          <li>None</li>
        {{end}}
          
        </ul>

        <div>Status:</div>
        
        <ul>
          <li>Spec: <b>{{if .env.ConfigMap}}OK{{else}}Missing{{end}}</b></li>
          <li>Cluster: <b>{{if and .env.Pod .env.Pod.Status.Phase}}{{.env.Pod.Status.Phase}}{{else}}Pending{{end}}</b></li>
          <li>Networking: <b>{{if .env.Service}}OK{{else}}Pending{{end}}</b></li>
          <li>Expiration: <b class="expiration">{{if and .env.ConfigMap .env.ConfigMap.Data.expiration}}{{.env.ConfigMap.Data.expiration}}{{else}}Pending{{end}}</b> <b class="expirationCountdown"></b></li>
        </ul>

        <div>Setup Logs:</div>

        {{if .env.PodLogs}}
        <code class="logpane"><pre>{{.env.PodLogs.String}}</pre></code>
        {{end}}
          
        <form method="POST" action="/delete">
          <div>
            <input type="submit" value="Delete env"/>
          </div>
        </form>
      </div>

    {{end}}
  </body>
</html>
