<!DOCTYPE html>
<html>
  <head>
    <title>See Your Future in Progress | Tilt Ephemerator</title>
    <link rel="stylesheet" href="https://use.typekit.net/yii5fqs.css">
    <link rel="stylesheet" href="/static/ephemerator.css">
  </head>
  <body>
    <h1>Sorry!</h1>

    <div>There's no environment at "{{.host}}".</div>
    
    <div>There might have been an environment here once, but it expired.<div>

    <div><a href="//{{.gatewayHost}}">Head back to the main dashboard.</div>
  </body>
</html>
